/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(17, 17, 17); 
  }


  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f50057;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #f50057;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #f50057;
  }